



body {
    height: auto;
    background-color: darkseagreen;
    margin: 0;
    color: whitesmoke;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
    user-select: none;    

}



.block {
    font-size: 1em;
    padding-top: 5px;
    padding-left: 5em;
    padding-right: 5em;
    width: 100%;
    min-width: 850px;
    box-sizing: border-box; 
    box-shadow: 0px -5px 15px 3px rgba(0,0,0,0.5);
    margin: 0;
}
    

.s1 {
    padding-left: 5em;
    background-color: lightseagreen;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url(img/3.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.s1 p {
    color:ghostwhite;
    font-size:46px;
}




.s2 {
    background-color: palevioletred;
    height: 100vh;
    position: absolute;
    top: 1.5em;
    background-image: url(img/1.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.s2start {
    top: 95vh;
    height: 100vh;
}



.s2 p {
    background: rgba(20, 20, 20, .2);
    padding: 2em;
    
/*
    margin-left: -4em;
    margin-right: -4em;
    
    padding-left: 4em;
    padding-right: 4em;
    overflow: hidden;
*/

    
}


.s3 {
    background-color: slategrey;
    height: 100vh;
    position: absolute;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


}
.s3start {
    top: 190vh;
    height: 95vh;
}

.s3 p {
    color:ghostwhite;
    font-size:46px;
}



.s4 {
    background-color: olivedrab;
    height: 100vh;
    position: absolute;background-image: url(img/4.JPG);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

}
.s4start {
    top: 255vh;
    height: 100vh;
}

.s4 p {
    color:ghostwhite;
    font-size:46px;
}



.s5 {
    height: 5vh;
    position: absolute;
    font-size: 0.5em;
    text-align: center;
    box-shadow: none;
}
.s5start {
    top: 335vh;
    height: 3vh;
}









.pin2 {
    position: fixed;
    z-index: -1;
    top: 1.5em;
}

.pin3 {
    position: fixed;
    z-index: -1;
    top: 3em;
}

.pin4 {
    position: fixed;
    z-index: -1;
    top: 4.5em;
}



.trans {
    transition: 1.5s ease-in-out;
}




.hl {
	line-height: 1em;
    color: white;
	letter-spacing: 10px;
	text-transform: uppercase;
    position: relative;
    transform: translate(-4em);
    
}


.hl:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translate(-3em);
       color: steelblue;
}



p {
    padding-top: 3em;
}





.photo{
    display: inline-block;
    margin-top: 10px;
}
